<html>
 <head>
  <meta charset="UTF-8">
  <title>Search</title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>
 <body>
<hr>
 <ul class = "a" >
   <li class = "a"><a href="index.html">Homepage</a></li>
   <li class = "a"><a href='/book'>Manage Books</a></li>
   <li class = "a"><a href='/book_author'>Manage Authors</a></li>
   <li class = "a"><a href='/account'>Manage Accounts</a></li>
   <li class = "a"><a href='/orders_books'>Manage Orders</a></li>
   <li class = "a"><a href='/order'>Manage Balances</a></li>
	
</ul>

<h3>Search Order:</h3>

<form id='searchAccount' action='' method=''>
    <label> Enter email:</label>
    <input id='email' type='text' name='email' value=''>
    <input type="button" value="Search" onclick="searchOrderByEmail()">
</form>

<br>

<table>
        <caption><b>Current Order List:</b></caption>
        <thead>
            <th>Email</th>
			<th>Order Balance</th>
        </thead>  
        <tbody>
            {{#each order}} 
            <tr>
                <td>{{email}}</td> 
                <td>{{order_balance}}</td> 
            </tr> 
            {{/each}} 
        </tbody>  
    </table>
</body>
</html>
